/*#book-form {
	display: none;
}*/

img.book-jacket {
	height:120px;
	box-sizing:border-box;
	position:relative;
}
img.book-jacket::after {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	width: 3px;
	background: rgba(0,0,0,1);
	box-shadow: 1px 0 3px rgba(255, 255, 255, 1);
}
div.book-jacket {
	width:90px;
	height:120px;
	background-color:#555;
	color:#BBB;
	font-weight:bold;
	font-variant: small-caps;
	text-shadow:1px 1px 1px rgba(0,0,0,.7);
	text-align:center;
	box-sizing: border-box;
	padding:.3em 5px;
	line-height:1.1;
	border-left:8px solid #333;
}
.book-jacket {
	box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}

/*** Taken from InputfieldEvents - not yet modified for this Fieldtype/Inputtype ***/

/* .InputfieldBooks table tr {
	border: none;
}

.InputfieldBooks th {
	padding-bottom: 0;
	font-weight: bold;
}

.InputfieldBooks tr.BookTemplate {
	display: none;
}

.InputfieldBooks tr:not(.BookTBD):hover td {
	background: #eee;
}

.InputfieldBooks input[type=text],
.InputfieldBooks input[type=url],
.InputfieldBooks textarea {
	width: 100%;
}
.InputfieldBooks th,
.InputfieldBooks td {
	padding: 6px 2px;
	border-bottom: 1px solid #ddd;
}

.InputfieldBooks .BookClone {
	width: 3%;
	padding-left: 1%;
	text-align: center;
}

.InputfieldBooks .BookDate {
	width: 15%;
}

.InputfieldBooks .BookLocation {
	width: 30%;
}

.InputfieldBooks .BookNotes {
	width: 50%;
}

.InputfieldBooks th.BookDel {
	width: 5%;
	padding-right: 0;

}

.InputfieldBooks a.BookClone,
.InputfieldBooks a.BookDel {
	width: 1.5em;
	display: block;
}

.InputfieldBooks .BookTBD td input {
	text-decoration: line-through;
}*/